<div class="card mt-3">
  <div class="card-header bg-info text-white">
    <h2>Liste des Stagiaire</h2>
  </div>
  <div class="card-body">
    <table class="table table-striped">
      <thead>
      <tr>
        <th>Identifiant</th>
        <th>Version</th>
        <th>Civilite</th>
        <th>Nom</th>
        <th>Prenom</th>
        <th>Email</th>
        <th>Telephone</th>
        <th>Rue</th>
        <th>Complement adresse</th>
        <th>Ville</th>
        <th>Code postal</th>
        <th>Date naissance</th>
        <th>Niveau Etude</th>
        <th>Evaluation</th>
        <th>Filiere</th>

        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let stagiaire of list()">
        <td>{{stagiaire.id}}</td>
        <td>{{stagiaire.version}}</td>
        <td>{{stagiaire.civilite}}</td>
        <td>{{stagiaire.nom}}</td>
        <td>{{stagiaire.prenom}}</td>
        <td>{{stagiaire.email}}</td>
        <td>{{stagiaire.telephone}}</td>
        <td>{{stagiaire.adresse?.rue}}</td>
        <td>{{stagiaire.adresse?.complement}}</td>
        <td>{{stagiaire.adresse?.codePostal}}</td>
        <td>{{stagiaire.adresse?.ville}}</td>
        <td>{{stagiaire.dtNaissance |date}}</td>
        <td>{{stagiaire.niveauEtude}}</td>
        <td>{{stagiaire.evaluation?.id}} - {{stagiaire.evaluation?.commentaires}}</td>
        <td>{{stagiaire.filiere?.id}} - {{stagiaire.filiere?.intitule}}</td>
        <td>
          <div class="btn-group btn-group-sm">
            <a class="btn btn-primary" (click)="edit(stagiaire.id)"><i class="fa fa-edit"></i></a>
            <a class="btn btn-danger" (click)="delete(stagiaire.id)"><i class="fa fa-trash"></i></a>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="card-footer">
    <a class="btn btn-success btn-lg" (click)="add()">
      <i class="fa fa-plus"></i>
    </a>
  </div>

  <div class="card mt-3" *ngIf="stagiaireForm">
    <div class="card-header bg-info text-white">
      <h3>Edition du formateur</h3>
    </div>

    <div class="card-body">
      <div class="form-group">
        <label for="civilite">Civilite :</label>
        <select class="form-control" id="civilite" [(ngModel)]="stagiaireForm.civilite">
          <option value="">Civilite</option>
          <option value="M">M</option>
          <option value="Mme">Mme</option>
          <option value="autre">Autre</option>
        </select>
      </div>
      <div class="form-group">
        <label for="nom">Nom :</label>
        <input type="text" class="form-control" id="nom" [(ngModel)]="stagiaireForm.nom">
      </div>
      <div class="form-group">
        <label for="prenom">Prenom :</label>
        <input type="text" class="form-control" id="prenom" [(ngModel)]="stagiaireForm.prenom">
      </div>
      <div class="form-group">
        <label for="email">Email :</label>
        <input type="text" class="form-control" id="email" [(ngModel)]="stagiaireForm.email">
      </div>
      <div class="form-group">
        <label for="telephone">Telephone :</label>
        <input type="text" class="form-control" id="telephone" [(ngModel)]="stagiaireForm.telephone">
      </div>
      <div class="form-group">
        <label for="dtNaissance">Date naissance :</label>
        <input type="date" class="form-control" id="dtNaissance" [ngModel]="stagiaireForm.dtNaissance | date:'yyyy-MM-dd'" (ngModelChange)="stagiaireForm.dtNaissance = $event">
      </div>

      <div class="form-group">
        <select class="form-control" id="niveauEtude" [(ngModel)]="stagiaireForm.niveauEtude">
          <option value="">Choisir un niveau d'étude</option>
          <option value="BAC">Bac</option>
          <option value="BAC_2">Bac + 2</option>
          <option value="BAC_3">Bac + 3</option>
          <option value="BAC_5">Bac + 5</option>
          <option value="BAC_8">Bac + 8</option>
        </select>
      </div>


      <div class="form-group">
        <label for="rue">Rue :</label>
        <input type="text" class="form-control" id="rue" [(ngModel)]="stagiaireForm.adresse.rue">
      </div>

      <div class="form-group">
        <label for="complement">Complement :</label>
        <input type="text" class="form-control" id="complement" [(ngModel)]="stagiaireForm.adresse.complement">
      </div>
      <div class="form-group">
        <label for="cp">Code Postal :</label>
        <input type="text" class="form-control" id="cp" [(ngModel)]="stagiaireForm.adresse.codePostal">
      </div>
      <div class="form-group">
        <label for="ville">Ville :</label>
        <input type="text" class="form-control" id="ville" [(ngModel)]="stagiaireForm.adresse.ville">
      </div>

      <div class="form-group">
        <label for="evaluation">Evaluation:</label>
        <select class="form-control" id="evaluation" [(ngModel)]="stagiaireForm.evaluation.id">
          <option value="">Choisir une évaluation</option>
          <option *ngFor="let eval of listEvaluation()" [value]="eval.id">{{eval.id}} - {{eval.commentaires}}</option>
        </select>
      </div>


      <div class="form-group">
        <label for="filiere">Filiere:</label>
        <select class="form-control" id="filiere" [(ngModel)]="stagiaireForm.filiere.id">
          <option value="">Choisir une Filiere</option>
          <option *ngFor="let fil of listFiliere()" [value]="fil.id">{{fil.id}} - {{fil.intitule}}</option>
        </select>
      </div>

    </div>


    <div class="card-footer">
      <div class="btn-group btn-group-lg float-right">
        <a class="btn btn-success" (click)="save()">
          <i class="fa fa-check"></i>
        </a>
        <a class="btn btn-warning" (click)="cancel()">
          <i class="fa fa-sync"></i>
        </a>
      </div>
    </div>

  </div>

</div>
