<div class="card mt-3">
  <div class="card-header bg-info text-white">
    <h2>Liste des filieres</h2>
  </div>
  <div class="card-body">
    <table class="table table-striped">
      <thead>
      <tr>
        <th>Identifiant</th>
        <th>Version</th>
        <th>Intitule</th>
        <th>Promotion</th>
        <th>Date de début</th>
        <th>Durée</th>
        <th>Dispositif</th>
        <th>Formateur</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let filiere of list()">
        <td>{{filiere.id}}</td>
        <td>{{filiere.version}}</td>
        <td>{{filiere.intitule}}</td>
        <td>{{filiere.promotion}}</td>
        <td>{{filiere.dtDebut | date:'dd/MM/yyyy'}}</td>
        <td>{{filiere.duree}}</td>
        <td>{{filiere.dispositif}}</td>
        <td>{{filiere.referent?.id}} {{filiere.referent?.nom}}</td>
        <td>
          <div class="btn-group btn-group-sm">
            <a class="btn btn-primary" (click)="edit(filiere.id)"><i class="fa fa-edit"></i></a>
            <a class="btn btn-danger" (click)="delete(filiere.id)" ><i class="fa fa-trash"></i></a>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="card-footer">
    <a class="btn btn-success btn-lg" (click)="add()">
      <i class="fa fa-plus"></i>
    </a>
  </div>

  <div class="card mt-3" *ngIf="filiereForm">
    <div class="card-header bg-info text-white">
      <h3>Edition de la filiere</h3>
    </div>

    <div class="card-body">
      <div class="form-group">
        <label for="intitule">Intitule :</label>
        <input type="text" class="form-control" id="intitule" [(ngModel)]="filiereForm.intitule">
      </div>
      <div class="form-group">
        <label for="promotion">Promotion :</label>
        <input type="text" class="form-control" id="promotion" [(ngModel)]="filiereForm.promotion">
      </div>
      <div class="form-group">
        <label for="dtDebut">Date de début :</label>
        <input type="date" class="form-control" id="dtDebut" [ngModel]="filiereForm.dtDebut | date : 'yyyy-MM-dd'" (ngModelChange)="filiereForm.dtDebut=$event" >
      </div>
      <div class="form-group">
        <label for="duree">Durée :</label>
        <input type="number" class="form-control" id="duree" [(ngModel)]="filiereForm.duree">
      </div>
      <div class="form-group">
        <select class="form-control" id="dispositif" [(ngModel)]="filiereForm.dispositif">
          <option value="">Choisir un dispositif</option>
          <option value="CPRO">CPRO</option>
          <option value="POEI">POEI</option>
          <option value="POEC">POEC</option>
          <option value="PROA">PROA</option>
        </select>
    </div>

      <div class="form-group">
        <label for="referent">Formateur:</label>
        <select class="form-control" id="referent" [(ngModel)]="filiereForm.referent.id">
          <option value="">Choisir un formateur</option>
          <option *ngFor="let forma of listFormateur()" [value]="forma.id">{{forma?.id}} - {{forma?.nom}}- {{forma?.prenom}}</option>
        </select>
      </div>



    <div class="card-footer">
      <div class="btn-group btn-group-lg float-right">
        <a class="btn btn-success" (click)="save()">
          <i class="fa fa-check"></i>
        </a>
        <a class="btn btn-warning" (click)="cancel()">
          <i class="fa fa-sync"></i>
        </a>
      </div>
    </div>

  </div>

</div>
