<div class="card mt-3">
  <div class="card-header bg-info text-white">
    <h2>Liste des salles</h2>
  </div>
  <div class="card-body">
    <table class="table table-striped">
      <thead>
      <tr>
        <th>Identifiant</th>
        <th>Nom</th>
        <th>Capacite</th>
        <th>Video Projecteur</th>

        <th>Version</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let classroom of list()">

        <td>{{classroom.id}}</td>
        <td>{{classroom.nom}}</td>
        <td>{{classroom.capacite}}</td>
        <td>{{classroom.videoProjecteur}}</td>
       <!-- <td>{{salle.adr?.rue}}, {{salle.adr?.complement}}, {{salle.adr?.codePostal}}, {{salle.adr?.ville}}</td>-->
        <td>{{classroom.version}}</td>

        <td>
          <div class="btn-group btn-group-sm">
            <a class="btn btn-primary" (click)="edit(classroom.id)"><i class="fa fa-edit"></i></a>
            <a class="btn btn-danger" (click)="delete(classroom.id)"><i class="fa fa-trash"></i></a>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="card-footer">
    <a class="btn btn-success btn-lg" (click)="add()">
      <i class="fa fa-plus"></i>
    </a>
  </div>

  <div class="card mt-3" *ngIf="salleForm">
    <div class="card-header bg-info text-white">
      <h3>Edition de la salle</h3>
    </div>

    <div class="card-body">
      <div class="form-group">
        <label for="nom">Nom :</label>
        <input type="string" class="form-control" id="nom" [(ngModel)]="salleForm.nom">
      </div>
      <div class="form-group">
        <label for="capacite">Capacité :</label>
        <input type="number" class="form-control" id="capacite" [(ngModel)]="salleForm.capacite">
      </div>
      <div class="form-group">
        <label for="videoProjecteur">Video Projecteur :</label>
        <input type="boolean" class="form-control" id="videoProjecteur" [(ngModel)]="salleForm.videoProjecteur">
      </div>




    </div>


    <div class="card-footer">
      <div class="btn-group btn-group-lg float-right">
        <a class="btn btn-success" (click)="save()">
          <i class="fa fa-check"></i>
        </a>
        <a class="btn btn-warning" (click)="cancel()">
          <i class="fa fa-sync"></i>
        </a>
      </div>
    </div>

  </div>

</div>
