<div class="card mt-3">
  <div class="card-header bg-info text-white">
    <h2>Liste des Formateurs</h2>
  </div>
  <div class="card-body">
    <table class="table table-striped">
      <thead>
      <tr>
        <th>Identifiant</th>
        <th>Version</th>
        <th>Civilite</th>
        <th>Nom</th>
        <th>Prenom</th>
        <th>Email</th>
        <th>Telephone</th>
        <th>Adresse</th>
        <th>Experience</th>
        <th>Matieres</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let formateur of list()">
        <td>{{formateur.id}}</td>
        <td>{{formateur.version}}</td>
        <td>{{formateur.civilite}}</td>
        <td>{{formateur.nom}}</td>
        <td>{{formateur.prenom}}</td>
        <td>{{formateur.email}}</td>
        <td>{{formateur.telephone}}</td>
        <td>{{formateur.adresse?.rue}}, {{formateur.adresse?.complement}}<br> {{formateur.adresse?.codePostal}}, {{formateur.adresse?.ville}}</td>
        <td>{{formateur.experience}}</td>
        <td >
          <span *ngFor="let m of formateur.competences">{{m.nom}}<br></span>
          <span *ngIf="formateur.competences.length==0">Pas de matieres</span>
        </td>
        <td>
          <div class="btn-group btn-group-sm">
            <a class="btn btn-primary" (click)="edit(formateur.id)"><i class="fa fa-edit"></i></a>
            <a class="btn btn-danger" (click)="delete(formateur.id)"><i class="fa fa-trash"></i></a>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="card-footer">
    <a class="btn btn-success btn-lg" (click)="add()">
      <i class="fa fa-plus"></i>
    </a>
  </div>

  <div class="card mt-3" *ngIf="formateurForm">
    <div class="card-header bg-info text-white">
      <h3>Edition du formateur</h3>
    </div>

    <div class="card-body">
      <div class="form-group">
        <label for="civ">Civilite :</label>
        <select class="form-control" id="civ"  [(ngModel)]="formateurForm.civilite">
          <option value="M">Mr</option>
          <option value="MME">Mme</option>
          <option value="MLLE">Mlle</option>
        </select>
      </div>
      <div class="form-group">
        <label for="nom">Nom :</label>
        <input type="text" class="form-control" id="nom" [(ngModel)]="formateurForm.nom">
      </div>
      <div class="form-group">
        <label for="prenom">Prenom :</label>
        <input type="text" class="form-control" id="prenom" [(ngModel)]="formateurForm.prenom">
      </div>
      <div class="form-group">
        <label for="email">Email :</label>
        <input type="email" class="form-control" id="email" [(ngModel)]="formateurForm.email">
      </div>
      <div class="form-group">
        <label for="tel">Telephone :</label>
        <input type="text" class="form-control" id="tel" [(ngModel)]="formateurForm.telephone">
      </div>
      <div class="form-group">
        <label for="exp">Experience :</label>
        <input type="number" class="form-control" id="exp" [(ngModel)]="formateurForm.experience">
      </div>

      <div class="form-group">
        <label for="rue">Rue :</label>
        <input type="text" class="form-control" id="rue" [(ngModel)]="formateurForm.adresse.rue">
      </div>

      <div class="form-group">
        <label for="complement">Complement :</label>
        <input type="text" class="form-control" id="complement" [(ngModel)]="formateurForm.adresse.complement">
      </div>
      <div class="form-group">
        <label for="cp">Code Postal :</label>
        <input type="text" class="form-control" id="cp" [(ngModel)]="formateurForm.adresse.codePostal">
      </div>
      <div class="form-group">
        <label for="ville">Ville :</label>
        <input type="text" class="form-control" id="ville" [(ngModel)]="formateurForm.adresse.ville">
      </div>


        <legend>Liste des matieres</legend>
        <div class="form-group">
          <span *ngFor="let m of listMatieres()">
             <label for="matiere-{{m.id}}">{{m.nom}} :</label>
              <input [checked]="m.id|checked : formateurForm.competences"  (change)="checkMatiere(m.id,$event.target)" type="checkbox" class="form-control" id="matiere-{{m.id}}">
          </span>

        </div>


    </div>



    <div class="card-footer">
      <div class="btn-group btn-group-lg float-right">
        <a class="btn btn-success" (click)="save()">
          <i class="fa fa-check"></i>
        </a>
        <a class="btn btn-warning" (click)="cancel()">
          <i class="fa fa-sync"></i>
        </a>
      </div>
    </div>
  </div>
</div>
